@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

section {
  overflow: hidden;

  .scheduleCard {
    position: absolute;
    width: 100%;
    min-height: 320px;
    margin: 7% 0 0 40px;
    max-height: 500px;
    background: rgba(18, 24, 32, 0.616);
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 5%;
    padding: 15px;
    scrollbar-width: thin;
  }
}

table {
  border-collapse: separate;
  width: 100%;
  color: #fff;
  border-spacing: 8px 5px;

  .linkData {
    max-width: 250px;
    min-width: 200px;
  }

  .linkData::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: #060f1fd4;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(10, 15, 30);
  }
}

th,
td {
  padding: 10px;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-bottom: 1px solid #ddd;
  font-size: 19px;
  transition: 0.2s all ease;
}

td:hover {
  background-color: #27292f;
}

.video {
  width: 100%;
  background-size: cover;
  position: absolute;
  top: -60px;
  filter: brightness(50%);
}

.scheduleCard::-webkit-scrollbar {
  width: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(126, 127, 130);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27292f;
}

// Section2 ________________________________>
.secondSection {
  box-shadow: 20px 20px 100px 70px rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 83.6vh;
}

.video2 {
  z-index: -1;
  width: 100%;
  background-size: cover;
  position: absolute;
  margin-top: 80vh;
  filter: saturate(55%);
}


// Start Coding For Responsive Europian Page
@media (max-width: 376px) {
  .firstSection {
    background-image: url("../img/mobileDevBg.png");
    background-position: center;
    background-size: cover;
    filter: grayscale(60%);
    .video {
      display: none;
    }

    .scheduleCard {
      transform: translateX(-10%) translateY(7%) !important;
      overflow-x: scroll !important;
      width: 100% !important;
      max-height: 70vh !important;

      th {
        font-size: 17px !important;
      }
      td {
        font-size: 14.5px !important;
      }
    }
  }

  .secondSection {
    height: 130vh !important;

    .rankTable {
      background-color: rgba(0, 0, 0, 0);
      width: 100%;
      margin-left: 0;

      h1 {
        margin: 20px 27%;
      }
      th {
        font-size: 20.5px;
      }
      td {
        font-size:18px;
      }
    }
  }
}

@media (min-width: 376px) and (max-width: 395px) {
  .firstSection {
    background-image: url("../img/mobileDevBg.png");
    background-position: center;
    background-size: cover;
    filter: grayscale(70%);

    .video {
      display: none;
    }

    .scheduleCard {
      transform: translateX(-10%) translateY(7%) !important;
      overflow-x: scroll !important;
      width: 100% !important;
      max-height: 70vh !important;

      th {
        font-size: 17px !important;
      }
      td {
        font-size: 14.5px !important;
      }
    }
  }

  .secondSection {
    height: 120vh !important;

    .rankTable {
      background-color: rgba(0, 0, 0, 0);
      margin-left: -1%;
      width: 100%;

      h1 {
        margin: 20px 30%;
      }

      th {
        font-size: 23px;
      }
      td {
        font-size: 21px;
      }
    }
  }
}

@media (min-width: 395px) and (max-width: 700px) {
  .firstSection {
    background-image: url("../img/mobileDevBg.png");
    background-position: center;
    background-size: cover;
    filter: grayscale(70%);
    .video {
      display: none;
    }

    .scheduleCard {
      transform: translateX(-10%) translateY(7%) !important;
      overflow-x: scroll !important;
      width: 100% !important;
      max-height: 70vh !important;

      th {
        font-size: 22px !important;
      }
      td {
        font-size: 19px !important;
      }
    }
  }

  .secondSection {
    height: 115vh !important;

    .rankTable {
      background-color: rgba(0, 0, 0, 0);
      width: 100%;
      margin-left: 0;

      h1 {
        margin: 20px 30%;
      }

      th {
        font-size: 25px;
      }
      td {
        font-size: 22px;
      }
    }
  }
}
