.section1 {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  .video {
    overflow-y: scroll;
    filter: brightness(40%);
  }

  // Schedule Card Styles
  .scheduleCard {
    position: absolute;
    transform: translateX(2%) translateY(19%);
    width: 95%;
    min-height: 450px;
    background: rgba(17, 21, 29, 0.873);
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 5%;
    padding: 10px;
    scrollbar-width: thin;
  }
}

.secondSec {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #090A0E;
  background: linear-gradient(-170deg, rgb(57, 12, 32), rgb(7, 10, 21), #746658);
  background-size: 800% 400%;
  animation: secondSecBgAnimation 7s ease-in-out infinite;
}

@keyframes secondSecBgAnimation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position:0 50%;
  }
}



// Start Coding to Responsive Russian Page

@media (max-width:370px) {
  .section1 {
    background-image: url("../img//mobileDevRusBg.jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(20%);

    .video {
      display: none;
    }

    .scheduleCard {
      transform: translateX(0) translateY(12%) !important;
      overflow-x: scroll !important;
      width: 100% !important;
      max-height: 70vh !important;

      th {
        font-size: 17px !important;
      }
      td {
        font-size: 14.5px !important;
      }
    }
  }

  .secondSec {
    height: 125vh !important;

    .rankTable {
      background-color: rgba(0, 0, 0, 0);
      margin-left: 0;
      width: 100% !important;

      table {
        border-spacing: 2px 5px;
      }

      h1 {
        margin: 20px 0 20px 10%;
      }
      th {
        font-size: 16.5px;
      }
      td {
        font-size: 15px;
      }
    }
  }
}

@media (min-width: 370px) and (max-width: 376px) {
  .section1 {
    background-image: url("../img//mobileDevRusBg.jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(20%);

    .video {
      display: none;
    }

    .scheduleCard {
      transform: translateX(0) translateY(12%) !important;
      overflow-x: scroll !important;
      width: 100% !important;
      max-height: 70vh !important;

      th {
        font-size: 17px !important;
      }
      td {
        font-size: 14.5px !important;
      }
    }
  }

  .secondSec {
    height: 120vh !important;

    .rankTable {
      background-color: rgba(0, 0, 0, 0);
      margin-left: 0;
      width: 100% !important;

      table {
        border-spacing: 2px 5px;
      }

      h1 {
        margin: 20px 27%;
      }
      th {
        font-size: 20px;
      }
      td {
        font-size: 16px;
      }
    }
  }
}

@media (min-width:376px) and (max-width: 395px) {
  .section1 {
    background-image: url("../img//mobileDevRusBg.jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(50%);

    .video {
      display: none;
    }

    .scheduleCard {
      transform: translateX(0) translateY(12%) !important;
      overflow-x: scroll !important;
      width: 100% !important;
      max-height: 70vh !important;

      th {
        font-size: 17px !important;
      }
      td {
        font-size: 14.5px !important;
      }
    }
  }

  .secondSec {
    height: 100vh !important;

    .rankTable {
      background-color: rgba(0, 0, 0, 0);
      margin-left: 0;
      width: 100% !important;

      table {
        border-spacing: 2px 5px;
      }

      h1 {
        margin: 20px 27%;
      }
      th {
        font-size: 22px;
      }
      td {
        font-size: 19px;
      }
    }
  }
}


@media (min-width:395px) and (max-width: 700px) {
  .section1 {
    background-image: url("../img//mobileDevRusBg.jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(50%);

    .video {
      display: none;
    }

    .scheduleCard {
      transform: translateX(0) translateY(12%) !important;
      overflow-x: scroll !important;
      width: 100% !important;
      max-height: 70vh !important;

      th {
        font-size: 17px !important;
      }
      td {
        font-size: 14.5px !important;
      }
    }
  }

  .secondSec {
    height: 95vh !important;

    .rankTable {
      background-color: rgba(0, 0, 0, 0);
      margin-left: 0;
      width: 100% !important;

      table {
        border-spacing: 2px 5px;
      }

      h1 {
        margin: 20px 30%;
      }

      th {
        font-size: 22px;
      }
      td {
        font-size: 20px;
      }
    }
  }
}